@page
@model admin_panel_razor.Pages.Transactions.IndexModel
@{
    ViewData["Title"] = "Transaction List";
}

<h1>Transaction List</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].TxnId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].TransactionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transaction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TxnId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OrderId" class="btn btn-secondary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.OrderId" class="btn btn-primary">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.OrderId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
